html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
#timeline-embed {
  height: 100%;
}
/* 在有背景照片中引用签名的颜色 */
.tl-slide.tl-full-image-background blockquote cite {
  color: #f2f2f2;
}
/* 在白色背景中引用签名的颜色 */
.tl-timeline blockquote cite {
  color: #999999;
}
/* 日期 */
.tl-text .tl-headline-date small,
.tl-text h3.tl-headline-date small {
  font-size: 20px;
}
.tl-text .tl-headline-date,
.tl-text h3.tl-headline-date {
  font-size: 20px;
  margin: 0 0 5px 0;
}
